* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Orbitron', sans-serif;
}

/* MAIN */

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 30px;
    margin: 20px 0;
    border: 5px groove rgb(192,192,192);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.message i {
    font-size: 30px;
}

.message p {
    color: white;
}

 .grid-container {
    background-color: rgb(192, 192, 192);
    width: 600px;
    border: 20px ridge rgb(192,192,192);
    padding: 10px;
 }

 .grid-container .board {
     width: 510px;
     margin: auto;
     height: 80px;
     border: 16px groove rgb(180, 180, 180);
     display: flex;
     justify-content: space-between;
}

 .board button {
    background-color: black;
 }

 .board  button i {
     font-size: 30px;
     padding: 0 5px;
     color: yellow;
 }

 .count {
    min-width: 75px;
    display: flex;
    align-items: center;
    font-size: 30px;
    background-color: black;
    color: red;
 }

 #levels {
    padding: 5px;
    background-color: black;
    color: yellow;
}

.grid {
    border: 5px groove rgb(192,192,192);
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 510px;
    pointer-events: none;
}

.grid.active { 
    pointer-events: auto; 
}

.grid i {
    font-size: 20px;
}

.layer-loser {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
}

.entry {
    height: 50px;
    width: 50px;
    border: 5px outset rgb(180, 180, 180);
    display: flex;
    justify-content: center;
    align-items: center;
}

.alive {
    border: 5px groove rgb(180, 180, 180);
    background-color: rgb(150, 150, 150);
}

.hidden {
    display: none;
}

i.hidden {
    display: none;
}

.red {
    color: red;
}

.green {
    color: green;
}

/* MEDIA QUERY - Gestione Responsive */

@media (max-width: 900px) {
    
    .message {
        padding: 5px;
        background-color: black;
        opacity: 0.7;
    }

    .message h1 {
        font-size: 20px;
    }

    .message p {
        font-size: 14px;
    }

    .grid-container {
        width: 320px;
    }

    .grid-container .board {
        width: 260px;       
        border: 5px groove rgb(192,192,192);
        height: 50px;
    }

    .count {
        font-size: 20px;
        min-width: 50px;
    }

    .grid i {
        font-size: 14px;
    }

    .grid {
        width: 260px;
    }

    .entry {
        width: 25px;
        height: 25px;
    }
}